	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<p>Comrade &copy; 2016.</p>
				</div>
				<div class="col-sm-4">
					<ul class="list-unstyled list-inline">
						<li><a class="tooltips" href="https://web.facebook.com/comrade.indonesia/?fref=ts"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
					</ul>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</footer>
	<!-- Javascripts -->
	<script src="/frontend/js/bootstrap.min.js"></script>
	<script src="/frontend/js/jquery.flexslider-min.js"></script>
	<script src="/frontend/js/user.js"></script>
</body>
</html>
