<% include ../partials/headeradmin %>
<% include ../partials/menuadmin %>
<!-- autocomplite address maps css -->
<%
var params = {
  center: results[0].formattedAddress,
  zoom: 15,
  size: '500x400',
  maptype: 'roadmap',
  markers: [
    {
      location: results[0].formattedAddress,
      label   : 'L',
      color   : 'green',
      shadow  : true
    },
  ],
  style: [
    {
      feature: 'road',
      element: 'all',
      rules: {
        hue: '0x00ff00'
      }
    }
  ],
  path: [
    {
      color: '0x0000ff',
      weight: '5',
      points: [
        '41.139817,-77.454439',
        '41.138621,-77.451596'
      ]
    }
  ]
};
%>
<link rel="stylesheet" type="text/css" href="/backend/css/addressmaps.css">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       <h5>Halaman Detail Lokasi Pemeriksaan dab Obat <small>Menampilkan detail lokasi pemeriksaan dan obat. </small></h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox-title">
                                <h5>Lokasi</h5>
                            </div>
                            <div class="ibox-content">
                                <p class="title">Alamat : </p><%- results[0].formattedAddress %><p><br>
                                <img src="<%- gmAPI.staticMap(params) %>">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox-content">
                                <p class="title"><strong>Pengirim : </strong><%= lp.pengirim %></p><br>
                                <p class="title"><strong>Nama Lokasi Obat : </strong></p><%= lp.nama %><p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include ../partials/footeradmin %>
