<% include ../partials/headeradmin %>
<% include ../partials/menuadmin %>
 <!-- Toastr style -->
<link href="/backend/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Date Picker -->
<link href="/backend/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<!-- autocomplite address maps css -->
<link rel="stylesheet" type="text/css" href="/backend/css/addressmaps.css">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       <h5>Halaman Form Edit Lokasi Pemeriksaan Obat <small>Menampilkan Form untuk mengedit Lokasi pemeriksaan dan obat. </small></h5>
                    </div>
                    <div class="ibox-content">
                        <% messages_errors.forEach(function(data) { %>
                            <div class="alert alert-danger alert-dismissable">
                              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <li><%= data %></li>
                            </div>
                        <% }); %>
                        <form action="" method="post" class="form-horizontal" id="form">
                            <div class="form-group"><label class="col-sm-2 control-label">Nama</label>
                                <div class="col-sm-9"><input type="text" name="nama" class="form-control" placeholder="Nama Lokasi" value="<%=data.nama%>"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Lokasi</label>
                                <div class="col-sm-9">
                                    <input name="posisi" id="pac-input" class="controls" type="text" placeholder="Masukan Alamat Lengkap Lokasi" value="<%- results[0].formattedAddress %>">
                                    <div class="google-map" id="map"></div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">Reset</button>
                                    <button class="btn btn-primary" type="submit" id="save">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<% include ../partials/footeradmin %>
<!-- Autocomplite address from maps -->
<script type="text/javascript" src="/backend/js/addressmaps.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDjE5MTfUt5RYaEdA_I_PVvaQJlkro5e80&signed_in=true&libraries=places&callback=initAutocomplete"async defer></script>
<!-- Toastr script -->
<script src="/backend/js/plugins/toastr/toastr.min.js"></script>
<!-- Button disabled when click -->
<script type="text/javascript" src="/backend/js/buttondisabled.js"></script>
<!-- Jquery Validate -->
<script src="/backend/js/plugins/validate/jquery.validate.min.js"></script>
<% for(var i in messages_success) { %>
    <script type="text/javascript">
        toastr.success('<%= messages_success[i] %>');
    </script>
<% } %>
<script>
    $(document).ready(function(){
        $("#form").validate({
            rules: {
                nama: {
                    required: true
                },
                posisi: {
                    required: true,
                    minlength: 20
                }
            }
        });
    });
</script>
