	<!-- Head -->
		<section id="head">
			<div class="carousel-inner">
			<!--<div class="row">
				<div class="col-md-8"-->
					<div class="flexslider" ng-controller="bannerController">
						<ul class="slides" ng-repeat="banner in databanner">
							<li>
								<div class="carousel-caption">
									<h5>{{banner.nama_banner}}</h5>
								</div>
								<img src="/uploads/banner/{{banner.banner_img}}" class="head-image">
							</li>
						</ul>
					</div>
			<!--	</div>
			</div>-->
			</div>
		</section>
	</header>