	<!-- Head -->
		<section id="head">
			<div class="carousel-inner">
			<!--<div class="row">
				<div class="col-md-8"-->
					<div class="flexslider">
						<ul class="slides">
							<% for(var i=0; i<banner.length; i++) { %>
								<li>
								<div class="carousel-caption">
									<h5><%=banner[i].nama_banner%></h5>
								</div>
								<img src="/uploads/banner/<%=banner[i].banner_img%>" class="head-image">
							</li>
							<% }; %>
						</ul>
					</div>
			<!--	</div>
			</div>-->
			</div>
		</section>
	</header>