	<!-- Head -->
		<section id="head">
			<div class="carousel-inner">
				<div class="carousel-caption">
					<h5><%=title%></h5>
				</div>
				<div class="head-image head-1"></div>
				<div class="head-image head-1 blur"></div>
			</div>
		</section>
	</header>