	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<p>Comrade &copy; 2016.</p>
				</div>
				<div class="col-sm-4">
					<ul class="list-unstyled list-inline">
						<li><a class="tooltips" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
						<li><a class="tooltips" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
						<li><a class="tooltips" href="#"><i class="fa fa-dribbble"></i><span>Dribbble</span></a></li>
						<li><a class="tooltips" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a></li>
						<li><a class="tooltips" href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
						<li><a class="tooltips" href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a></li>
					</ul>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</footer>
	<!-- Javascripts -->
	<script src="/frontend/js/jquery-2.1.1.min.js"></script>
	<script src="/frontend/js/bootstrap.min.js"></script>
	<script src="/frontend/js/jquery.flexslider-min.js"></script>
	<script src="/frontend/js/user.js"></script>
</body>
</html>
