            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2016
                </div>
            </div>

        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="/backend/js/jquery-2.1.1.js"></script>
    <script src="/backend/js/bootstrap.min.js"></script>
    <script src="/backend/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/backend/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/backend/js/inspinia.js"></script>
    <script src="/backend/js/plugins/pace/pace.min.js"></script>