<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="title" content="hiv aids odha dukungan support konsultasi informasi virus comrades">
	<meta name="description" content="Comrades aplikasi tentang kesehatan dan penyedia layanan untuk hiv aids
memberikan informasi yang terpercaya dukungan komunitas berkonsultasi dengan
orang yang berkompeten dibidangnya menyediakan
layanan reminder serta menyediakan lokasi obat untuk para odha.">
	<meta name="keywords" content="aplikasi,hiv,aids,hiv/aids,odha,konsultasi,support,dukungan,komunitas,informasi,peduli,sahabat,arv,reminder,obat,tweet">
	<title>Blog | Comrade</title>
	<link rel="icon" type="image/x-icon" href="/backend/img/icon.png"/>
	<link rel="stylesheet" type="text/css" href="/frontend/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/style.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/frontend/css/responsive.css">
	<script src="/frontend/js/jquery-2.1.1.min.js"></script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.8&appId=1486810361635546";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

	<header>
		<!-- Navigation -->
		<nav class="navbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="/"><img src="/backend/img/logo.png" alt="Logo" style="width:50px;height:50px;margin-top:-20px;"></a>
				</div> <!-- navbar-header -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="current" href="/">home</a></li>
						<li><a href="/about">about</a></li>
						<li><a href="/artikel">Artikel</a></li>
						<li><a href="/berita">Berita</a></li>
						<li><a href="/event">Event</a></li>
						<li><a href="/user/daftarPremium">User Premium</a></li>
						<li class="dropdown"><a href="#">Language</a>
							<ul>
								<li><a href="#"><font color="#484a54">English</font></a></li>
								<li><a href="#"><font color="#484a54">Indonesian</font></a></li>
							</ul>
						</li>
					</ul>
				</div> <!-- navbar-collapse -->
			</div> <!-- container -->
		</nav>

	</header>
