 					<div class="col-md-3">
						<div class="sidebar">
							<ul class="list-unstyled">
								<!-- Search -->
								<li class="input-group">
									<p><input type="text" class="search" placeholder="Search"></p>
									<span class="input-group-btn">
										<button class="button" type="button"><i class="fa fa-search"></i></button>
									</span>
								</li>
								<!-- Categories -->
								<li class="element categories">
									<h1>Kategori</h1>
									<div class="body">
										<div class="content">
											<ul class="list-unstyled" id="kategori">

											</ul>
										</div> <!-- content -->
									</div> <!-- body -->
								</li>
                <!-- Event Terbaru -->
								<li class="element">
									<h1>Event Terbaru</h1>
									<div class="body">
										<div class="content">
											<ul class="list-unstyled" id="eventnav">

											</ul>
										</div> <!-- content -->
									</div> <!-- body -->
								</li>

							</ul>
						</div> <!-- sidebar -->
					</div>
          <script type="text/javascript" src="/ajax/nav.js"></script>
