<div class="col-md-4">
  <div class="sidebar">
    <ul class="list-unstyled">
      <!-- Search
      <li class="input-group">
        <p><input type="text" class="search" placeholder="Search"></p>
        <span class="input-group-btn">
          <button class="button" type="button"><i class="fa fa-search"></i></button>
        </span>
      </li>-->
      <!-- Event Terbaru -->
      <li class="element">
        <h1>Comrade App</h1>
        <div class="body">
          <div class="content">
            <section id="head">
        			<div class="carousel-inner">
        				<div class="flexslider">
        					<ul class="slides">
        					</ul>
        				</div>
        			</div>
        		</section>
          </div> <!-- content -->
        </div> <!-- body -->
      </li>


      <li class="element">
        <h1>Fanspage</h1>
        <div class="body">
          <div class="content">
            <div class="fb-page" data-href="https://www.facebook.com/comrade.indonesia/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/comrade.indonesia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/comrade.indonesia/">Comrade</a></blockquote></div>
          </div>
        </div>

    </ul>
  </div> <!-- sidebar -->
</div>
<script type="text/javascript" src="/ajax/banner.js"></script>
