<% include ../partials/header %>
	<main id="blog-post">
		<div class="container">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-9">
						<section class="main">

							<div class="content-block">
								<div class="text">
									<h5 style="padding-bottom:10px">Graha (Gerakan Anti HIV Aids)</h5>
									<p>GRAHA (Gerakan Remaja Anti HIV AIDS) merupakan komunitas yang peduli terhadap perilaku pergaulan remaja. Dewasa ini pergaulan remaja telah mengalami banyak pergeseran. Hal ini salah satunya ditandai dengan semakin meningkatnya angka penularan HIV AIDS.
GRAHA ada sebagai upaya pencegahan dari HIV AIDS dengan memberikan informasi yang seluas-luasnya kepada masyarakat dan mengadakan kegiatan positif dalam berbagai bidang yang dapat menunjang kepada arah pencegahan HIV AIDS tersebut. Oleh karena itu GRAHA diharapkan dapat menjadi wadah yang dapat menghubungkan antara masyarakat dengan institusi terkait sehingga mampu menjalin kerjasama solid dalam meningkatkan kualitas generasi muda Indonesia.</p>
									<h5 style="padding-bottom:10px;padding-top:10px">Sejarah</h5>
									<p>GRAHA didirikan pada tanggal 10 Oktober 2010, atas prakarsa Dosen, mahasiswa dan remaja-remaja. Berawal dari kesadaran para pemrakarsa, GRAHA sebagai salah satu jawaban terhadap gencarnya tantangan akan perubahan dalam segala aspek kehidupan menuju pada kehidupan yang lebih baik, dan sebagai wujud tanggung jawab moral dari para anggota untuk berbagi pengetahuan dalam pengembangan jati diri remaja.</p>
								</div> <!-- text -->
							</div> <!-- content -->
						</section>
					</div>
						<% include ../partials/nav %>
				</div>
			</div> <!-- wrapper -->
		</div> <!-- container -->
		<a class="scrolltop" href="#"><i class="fa fa-arrow-up"></i></a>
	</main>
<% include ../partials/footer %>
<script type="text/javascript" src="/ajax/detail_posting.js"></script>
