<% include ../partials/header %>
	<main id="blog-post">
		<div class="container">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-9">
						<article id="detail">
								<div id="loadingartikel" style="display:none">loading...</div>
						</article>
					</div>
					<% include ../partials/nav %>
				</div> <!-- row -->
			</div> <!-- wrapper -->
		</div> <!-- container -->
		<a class="scrolltop" href="#"><i class="fa fa-arrow-up"></i></a>
	</main>
<% include ../partials/footer %>
<script type="text/javascript" src="/ajax/detail_posting.js"></script>
