	
	<main id="home-1">
		<div class="container" ng-app="myApp">
			<div class="wrapper" ng-controller="artikelController">
				<ul class="list-group" ng-repeat="update in updates">
				  <li class="list-group-item">
					<h3><a href="{{update.status}}">{{update.status}}</a></h3>
				  </li>
				</ul> 
			</div> <!-- wrapper -->
			<div class="row">
				<a class="big-button" href="/event"><span>read more Event</span><i class="fa fa-arrow-right"></i></a>
			</div> <!-- row -->
		</div> <!-- container -->
		<a class="scrolltop" href="#"><i class="fa fa-arrow-up"></i></a>
	</main>
<script src="/frontend/js/jquery-2.1.1.min.js"></script>
	<script src="/frontend/js/angular.min.js"></script>
	<script src="/frontend/js/app.js"></script>