<% include ./partials/headeradmin %>
<% include ./partials/menuadmin %>
<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2><%=title%></h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">This is</a>
                        </li>
                        <li class="active">
                            <strong>index</strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
               

            </div>
        </div>
<% include ./partials/footeradmin %>