<% include ./partials/headeradmin %>
<% include ./partials/menuadmin %>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
               

            </div>
        </div>
<% include ./partials/footeradmin %>