<% include ./partials/headeradmin %>
<% include ./partials/menuadmin %>
        <div class="wrapper wrapper-content animated fadeInRight">
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">Panel Heading</div>
                  <div class="panel-body">Panel Content</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">Panel Heading</div>
                  <div class="panel-body">Panel Content</div>
                </div>
              </div>
            </div> -->
        </div>
        <script src="/backend/js/angular.min.js"></script>
        <script src="/backend/js/Chart.min.js"></script>
        <script src="/backend/js/angular-chart.min.js"></script>
        <script src="/backend/chart/app.js"></script>
<% include ./partials/footeradmin %>
