<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Email Confirmation | Comrade</title>
<link rel="stylesheet" type="text/css" href="style/style.css">
<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/responsive.css">
</head>

<body>
<center>
<!-- body -->
<main id="contacts">
    <div class="container">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <section class="main">
              <div class="content-block">
                <div class="text">
                <img src="https://drive.google.com/uc?id=0Bwm6_hhx_HenUGJqVzBPbWtqb3M" alt="Logo" style="width:80px;height:80px;margin-top:-100px;">
                  <h5><strong>Email Confirmation</strong></h5>
                  <p>Please Confirmation your email address, click link bellow!</p>
                  <p><a href="#" class="btn btn-info">Confirmation Email</a></p>
                </div> <!-- text -->
              </div> <!-- content -->
            </section>
          </div>
        </div> <!-- row -->
      </div> <!-- wrapper -->
    </div> <!-- container -->
  </main>
</body>
</html>
